/*estilos del titulo principal*/
.tituloprincipal{
    display: inline-block;
    vertical-align: middle;
    font-family: tecno1;
    color: rgb(255, 1, 73);
    text-shadow: -5px 5px 10px rgb(255, 153, 0);
    font-size: 100px;
    background: rgb(58, 219, 247); 
    background-size: 25px;
    width: 1050px;
    border-width: 10px;
    border-style: solid;
    border-color: rgb(244, 154, 0);
    border-radius: 150px;
}
.btninicio{
    background-image: url("/img/petabytech.jpeg");
    background-size: cover;
    border-radius: 100px;
    border-style: solid;
    border-color: rgb(244, 154, 0);
    border-width: 5px;
    width: 150px;
    height: 150px;
    vertical-align: middle;
    cursor: pointer;
    
}

h1{
    font-family:  Arial, Helvetica, sans-serif;
    color: rgb(255, 1, 73);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    font-size: 50px;
    background-color: rgb(0, 255, 255);
    display: inline-block;
    width: 350px;
    border-width: 10px;
    border-style: solid;
    border-color: #f49a00;
    border-radius: 150px;
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: beige;*/
}

#a{
    font-family:  sans-serif;
    color: rgb(255, 1, 1);
}
.tabla{
    row-gap: 5px;
    column-gap: 5px;
    display: flex;
}
/*estilo tabla menu*/
.tabla td {
    background-color: #f49a00; /* Color de fondo verde */
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none; /*cambiar decoracion sin lineas de hypervinculo*/
    display: inline-block;
    border-radius: 15px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
  }
  
  .tabla td:hover {
    background-color: #03abffb6; /* Color de fondo más oscuro al pasar el ratón */
  }

.tabla a {
    font-family: tecno4;
    font-size: 50px;
    color: rgb(255, 1, 73);
    text-shadow: 1px 1px 1px rgb(58, 219, 247);
    text-decoration: none;
} 
  
.article{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: bisque;
}

/*estilo de borde para los div*/
.borde{
    border: 2px solid grey;
    border-radius:5px ;
    background-color: azure;

}
/*
.producto{
    border-collapse: collapse;
    width: 100%;
}
.producto tr{
	background-color: #8f37d687;
}
.producto tr:hover{
	background-color: #09299164;
}
.producto th,td{
	font-family: arial;
	font-size: 15px;
    border: 3px solid rgba(58, 219, 247, 0.866);
    padding: 8px;
    text-align: 1; 
}
*/
/*fondo de la página*/
.fondo {
	background-image:url('../img/fondo.jpeg');
	background-size: cover;
	/*background-color: grey;*/
}

@font-face {
    font-family: tecno1;
    src: url(/fonts/GenericTechno.otf);
}
@font-face {
    font-family: tecno2;
    src: url(/fonts/Neon\ Future\ 2.0\ Demo.ttf);
}
@font-face {
    font-family: tecno3;
    src: url(/fonts/Neonrec.otf);
}
@font-face {
    font-family: tecno4;
    src: url(/fonts/CARBON-DROID.otf);
}