@font-face {
    font-family: tecno1;
    src: url(/fonts/GenericTechno.otf);
}
@font-face {
    font-family: tecno2;
    src: url(/fonts/Neon\ Future\ 2.0\ Demo.ttf);
}
@font-face {
    font-family: tecno3;
    src: url(/fonts/Neonrec.otf);
}
@font-face {
    font-family: tecno4;
    src: url(/fonts/CARBON-DROID.otf);
}